<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/next.css"/>
        <title>少年东方曜</title>
        <meta name='description' content="lizhi的个人博客">
        <meta name='keywords' content="个人博客,lizhi,技术,web,前端,blog,技术分享">
        <meta name="robots" content="all">
        <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    </head>
    <body class="hp">
        <header></header>
        <main>
            <div style="display: table;width: 100%;">
            <div class="homepage-bg"></div>
            <div class="homepage-fg" style="height: 100vh;vertical-align: middle;width: 100%;z-index: 10;text-align: center;display: table-cell;position: relative;">
                <div class="container">
                    <h1 class="blog-title" >少年东方曜</h1>
                    <p>如果你看见一面墙，往上往下往左往右都看不到尽头，永远抵达不了边界，那是什么？ --- 死亡</p>
                    <div class="btn-set">
                        <a href="/post/index.html">文章</a><a href="/dairy/index.html">日志</a><a href="/about.html">关于</a>
                    </div>
                </div>
            </div>
            </div>
        </main>
        <footer>
            <div class="copyright"> © 2014 – 2021<span class="with-love"><i class="fa fa-user"></i></span> <span class="author" itemprop="copyrightHolder">少年东方曜</span></div>
            <div class="footer-beian"> <a href="https://beian.miit.gov.cn/" target="_blank">鄂ICP备20002547号</a> 
                <div>
                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030602006376" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/备案图标.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">粤公网安备 44030602006376号</p></a>
                </div>
            </div>
            <div class="busuanzi-footer">
              <span id="busuanzi_container_site_pv" style="display: inline;"> 本站总访问量 <span id="busuanzi_value_site_pv"></span> 次 </span>
              <span class="division">|</span>
              <span id="busuanzi_container_site_uv" style="display: inline;"> 本站总访客数 <span id="busuanzi_value_site_uv"></span> 人 </span>
              <span class="division">|</span>
              <span id="busuanzi_container_page_pv" style="display: inline;"> 本文总阅读量 <span id="busuanzi_value_page_pv"></span> 次 </span>
            </div>
        </footer>
    </body>
</html>